.ItemCount {
    margin-top: 20px;
}

.Controls {
    display: flex;
    justify-content: center;
    padding: 5px 5px 15px;
}
.Controls .countNumber{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}
